#include <windows.h>
#include "resource.h"
#include "common.rc"

IDI_MAIN ICON "plexus.ico"

STRINGTABLE
BEGIN
    IDS_DESCRIPTION  "OLED Plexus"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "OLED Plexus Screen Saver"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "OLEDPlexus"
            VALUE "OriginalFilename", "OLEDPlexus.scr"
            VALUE "ProductName", "Screen Saver Reverse Engineering"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
