#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#include "common.rc"

IDI_MAIN ICON "polyhedra.ico"

STRINGTABLE
BEGIN
    IDS_DESCRIPTION  "3D Polyhedra"
    4001             "Tetrahedra"
    4002             "Cubes"
    4003             "Octahedra"
    4004             "Icosahedra"
    4005             "Mixed"
END

IDD_CONFIG DIALOGEX 0, 0, 227, 128
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "3D Polyhedra Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Objects", -1, 7, 7, 213, 58
    LTEXT           "&Shape:", -1, 14, 21, 40, 8
    COMBOBOX        IDC_SHAPE, 56, 19, 90, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Number:", -1, 14, 37, 40, 8
    EDITTEXT        IDC_COUNT, 56, 35, 30, 12, ES_NUMBER | WS_TABSTOP
    CONTROL         "", IDC_COUNT_SPIN, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 86, 35, 10, 12
    AUTOCHECKBOX    "Motion &trails", IDC_TRAILS, 14, 51, 120, 10, WS_TABSTOP
    GROUPBOX        "Speed", -1, 7, 69, 213, 30
    LTEXT           "Slow", -1, 14, 82, 20, 8
    CONTROL         "", IDC_SPEED, TRACKBAR_CLASS, TBS_AUTOTICKS | TBS_HORZ | WS_TABSTOP, 36, 79, 150, 16
    LTEXT           "Fast", -1, 192, 82, 20, 8
    PUSHBUTTON      "&Display Settings...", IDC_DISPLAY_SETTINGS, 7, 107, 75, 14
    DEFPUSHBUTTON   "OK", IDOK, 116, 107, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 170, 107, 50, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "3D Polyhedra Screen Saver"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Polyhedra"
            VALUE "OriginalFilename", "Polyhedra.scr"
            VALUE "ProductName", "Screen Saver Reverse Engineering"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
